<div class="toolbar-content">
  <section class="left-side">
    <button
      class="button-toolbar button-stroked"
      [routerLink]="profile_link"
      routerLinkActive="is-active"
    >
      Perfil
    </button>
    @if (isAdmin) {
    <button
      class="button-toolbar button-stroked"
      routerLink="users"
      routerLinkActive="is-active"
    >
      Usuarios
    </button>
    }

    <button
      class="button-toolbar button-stroked"
      routerLink="activities"
      routerLinkActive="is-active"
    >
      Actividades
    </button>

    @if (isAdmin) {
    <button
      class="button-toolbar button-stroked"
      routerLink="audits"
      routerLinkActive="is-active"
    >
      Auditoria
    </button>
    }
  </section>
  <section class="right-side">
    <span>{{
      _data.getUser.nombres && _data.getUser.apellidos
        ? _data.getUser.nombres + " " + _data.getUser.apellidos
        : _data.getUser.email
    }}</span>
  </section>
</div>
