<div class="toolbar-content">
  <section class="left-side">
    <button class="button-toolbar button-flat" routerLink="my-profile">
      Perfil
    </button>
    <button class="button-toolbar button-stroked" routerLink="users">
      Usuarios
    </button>
    <button class="button-toolbar button-stroked" routerLink="activities">
      Actividades
    </button>
    <button class="button-toolbar button-stroked" routerLink="audits">
      Auditoria
    </button>
  </section>
  <section class="right-side">
    <!-- <button class="button-toolbar button-flat">Exportar</button> -->
  </section>
</div>
