<div class="form-field-content">
  <label [for]="name">{{ label }}</label>

  @if (type === 'textarea') {
  <textarea [formControl]="control"></textarea>
  } @else if (name !== 'password') {
  <input
    [formControl]="control"
    [type]="type"
    [id]="name"
    [name]="name"
    [class.has-danger]="control.invalid && (control.dirty || control.touched)"
  />
  } @else {
  <div class="input-group">
    <input
      [formControl]="control"
      [type]="type"
      id="name"
      [class.has-danger]="control.invalid && (control.dirty || control.touched)"
    />
    <ng-icon
      [name]="ngIcon"
      size="14px"
      class="toggleType"
      (click)="onClickToggle()"
    ></ng-icon>
  </div>
  } @if (control.invalid && (control.dirty || control.touched) && type !==
  'textarea') {
  <small>
    <ng-icon name="matWarningAmber" size="12px"></ng-icon>

    @if (name === 'email') {
    <span [hidden]="!control.errors?.['required']">El email es requerido</span>
    <span [hidden]="!control.errors?.['email']">El email es invalido</span>
    } @if (name === 'password') {
    <span [hidden]="!control.errors?.['required']">
      La contraseña es requerida
    </span>
    } @if (name === 'rol') {
    <span [hidden]="!control.errors?.['required']"> El rol es requerido </span>
    }
  </small>
  }
</div>
