<div class="user-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Filtro de usuarios</mat-card-title>
    </mat-card-header>
    <section class="form-filter">
      <div class="left-side">
        <form [formGroup]="form">
          <app-select
            label="Estado"
            name="estado"
            [control]="estado"
            [options]="estadoOption"
            (value)="estado?.setValue($event.name)"
          ></app-select>

          <app-select
            label="Roles"
            name="rol"
            [control]="rol"
            [options]="rolOption"
            (value)="rol?.setValue($event.name)"
          ></app-select>
        </form>
      </div>
      <div class="right-side">
        <button class="button-toolbar button-flat" (click)="applyFilter()">
          Filtrar
        </button>
      </div>
    </section>
  </mat-card>

  <section class="user-action">
    <div class="left-side">
      <app-search (propagar)="applySearch($event)"></app-search>
    </div>
    <div class="right-side">
      <button class="button-toolbar button-flat" (click)="createUser()">
        Crear Usuario
      </button>
    </div>
  </section>

  <section class="table">
    <mat-card>
      <table mat-table [dataSource]="dataSource">
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            <span
              class="link-profile"
              [routerLink]="'/home/profile/' + element.id"
              >{{ element.email }}</span
            >
          </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombres }}</td>
        </ng-container>

        <!-- Apellido Column -->
        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            {{ element.estado | estado }}
          </td>
        </ng-container>

        <!-- Rol Column -->
        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef>Rol</th>
          <td mat-cell *matCellDef="let element">{{ element.rol }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons>
      </mat-paginator>
    </mat-card>
  </section>
</div>
