.user-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #f5f5f5;
  section.form-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    .left-side {
      form {
        display: flex;
        column-gap: 20px;
      }
    }
  }
  section.user-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section.table {
    .link-profile {
      color: #047dfc;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
