<div class="form-create-activity-content">
    <h2>Nueva Actividad</h2>
  
    <form [formGroup]="form">
      <div class="form-field-group">
        
        <!-- FIELD DESCRIPCION -->
        <app-form-field
          [control]="descripcion"
          name="descripcion"
          label="Descripcion"
          type="textarea"
        ></app-form-field>

        <!-- FIELD PRIORIDAD -->
        <app-select
          label="Prioridad"
          name="prioridad"
          [control]="prioridad"
          [options]="prioridadOption"
          (value)="prioridad?.setValue($event.name)"
        ></app-select>

        <!-- FIELD ESTADO -->
        <app-select
        label="Estado"
        name="estado"
        [control]="estado"
        [options]="estadoOption"
        (value)="estado?.setValue($event.name)"
      ></app-select>

        <!-- FIELD USUARIO ACTUAL -->
        <app-select
          label="Usuario asignado"
          name="usuarioActual"
          [control]="usuarioActual"
          [options]="usersOption"
          (value)="usuarioActual?.setValue($event)"
        ></app-select>
        </div>
    </form>
  
    <button type="submit" (click)="onSubmit()" [disabled]="form.invalid">
      Crear actividad
    </button>
  </div>
  