.datepicker-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  label {
    font-size: 14px;
    font-weight: 600;
  }

  .group-input {
    display: flex;
    border: 1px solid rgb(205 205 205);
    border-radius: 4px;
    height: 36px;
    align-items: center;
    input {
      min-height: 26px;
      width: 130px;
      padding: 5px 10px;
      color: rgb(26 27 31 / 80%);
      font-size: 12px;
      border: none;
      &:focus {
        border: 1px solid rgb(0, 161, 201);
        box-shadow: 0 0 0 3px rgba(0, 161, 201, 0.1);
      }
      &:focus-visible {
        outline: none;
      }
    }
  }
}
