.activity-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #f5f5f5;
  min-height: calc(100dvh - 90px);
  section.form-filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;
    .left-side {
      form {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  section.activity-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right-side {
      display: flex;
      column-gap: 10px;
    }
  }

  section.table {
    .link-profile {
      color: #047dfc;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .group-action {
      display: flex;
      column-gap: 5px;
      ng-icon {
        cursor: pointer;
      }
    }
  }

  .avatar {
    display: grid;
    justify-items: center;
    row-gap: 10px;
    justify-content: flex-start;
    .group-img {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        border-radius: 50%;
      }
      
      }
    span{
        margin-left: 10px;
        font-size: 14px;
        font-weight: 600;   
    }
  }
}

// .alinear {
//     display: flex;
    
//     align-items: center;
// }

