.select-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  label {
    font-size: 14px;
    font-weight: 600;
  }
}

span.ng-option-label {
  font-size: 14px;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 36px;
  width: 200px;
}

::ng-deep ng-select span {
  box-sizing: border-box;
  font-size: 12px;
  text-transform: capitalize;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-size: 14px;
}
